<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSBase.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>base.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE0691B01CB31B82003C9F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE0691C11CB31C25003C9F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1ED99B1BFD271F00ED7968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE1ED9B71BFD2A0900ED7968</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE55CCA1190E8A70007827A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE55CCB8190E8A70007827A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE55CCD3190E8AA1007827A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE55CCE1190E8AA1007827A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE9B5EDE1C7B866300A3542C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE9B5F061C7B88A000A3542C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEFCD83D1CB54F2D00D15916</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
